_/html/about-nmo.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
      <div class="hero"></div>
      <div id="page-with-sidebar" class="page-with-sidebar sticky-sidebar">
        <div class="page-with-sidebar__wrapper ui rails">
          <div class="page-with-sidebar__sidebar ui sticky">
            <h4>About NMO</h4>
            <ul class="page-with-sidebar__nav">
              <li><a href="#what-is-nmo" class="smooth-scroll">What is NMO?</a></li>
              <ul class="page-with-sidebar__sub">
                <li><a href="#what-is-nmo__diagnosis" class="smooth-scroll">Diagnosis</a></li>
                <li><a href="#" class="smooth-scroll">Treatment</a></li>
              </ul>
              <li><a href="#faqs" class="smooth-scroll">FAQs</a></li>
              <li><a href="#" class="smooth-scroll">NMO vs. MS</a></li>
              <ul class="page-with-sidebar__sub">
                <li><a href="#" class="smooth-scroll">Similar Symptoms</a></li>
                <li><a href="#" class="smooth-scroll">Similar Conditions</a></li>
                <li><a href="#" class="smooth-scroll">Download Brochure</a></li>
              </ul>
              <li><a href="#" class="smooth-scroll">Download Fact Sheet</a></li>
            </ul>
          </div>
          <div class="page-with-sidebar__content">
            <div class="about-nmo__what-is-nmo page-with-sidebar__section">
              <div id="what-is-nmo"></div>
              <h3 class="alternate">What is NMO?</h3>
              <p>Neuromyelitis optica (NMO) is an uncommon disease syndrome of the central nervous system (CNS) that affects the optic nerves and spinal cord. Individuals with NMO develop optic neuritis, which causes pain in the eye and vision loss, and transverse myelitis, which causes weakness, numbness, and sometimes paralysis of the arms and legs, along with sensory disturbances and loss of bladder and bowel control. NMO leads to loss of myelin, which is a fatty substance that surrounds nerve fibers and helps nerve signals move from cell to cell. The syndrome can also damage nerve fibers and leave areas of broken-down tissue. In the disease process of NMO, for reasons that aren’t yet clear, immune system cells and antibodies attack and destroy myelin cells in the optic nerves and the spinal cord.</p>
              <div class="page-with-sidebar__video flex-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2uwA1CTEp4M" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="about-nmo__what-is-nmo page-with-sidebar__section">
              <div id="#what-is-nmo__diagnosis"></div>
              <h3 class="alternate">Diagnosis</h3>
              <p>Historically, NMO was diagnosed in patients who experienced a rapid onset of blindness in one or both eyes, followed within days or weeks by varying degrees of paralysis in the arms and legs. In most cases, however, the interval between optic neuritis and transverse myelitis is significantly longer, sometimes as long as several years. After the initial attack, NMO follows an unpredictable course. Most individuals with the syndrome experience clusters of attacks months or years apart, followed by partial recovery during periods of remission. This relapsing form of NMO primarily affects women. The female to male ratio is greater than 4:1. Another form of NMO, in which an individual only has a single, severe attack extending over a month or two, is most likely a distinct disease that affects men and women with equal frequency. The onset of NMO varies from childhood to adulthood, with two peaks, one in childhood and the other in adults in their 40s.</p>
              <p>In the past, NMO was considered to be a severe variant of multiple sclerosis (MS) because both can cause attacks of optic neuritis and myelitis. Recent discoveries, however, suggest it is a separate disease. NMO is different from MS in the severity of its attacks and its tendency to solely strike the optic nerves and spinal cord at the beginning of the disease. Symptoms outside of the optic nerves and spinal cord are rare, although certain symptoms, including uncontrollable vomiting and hiccups, are now recognized as relatively specific symptoms of NMO that are due to brainstem involvement.</p>
              <p>The recent discovery of an antibody in the blood of individuals with NMO gives doctors a reliable biomarker to distinguish NMO from MS. The antibody, known as NMO-IgG, seems to be present in about 70 percent of those with NMO and is not found in people with MS or other similar conditions.</p>
              <div class="about-nmo__what-is-nmo__video flex-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cMDCGMytlE8" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>

_/views/pages/about-nmo.jade
extends {layout}
block content
  .hero

  #page-with-sidebar.page-with-sidebar.sticky-sidebar
    .page-with-sidebar__wrapper.ui.rails
      .page-with-sidebar__sidebar.ui.sticky
        h4 About NMO
        ul.page-with-sidebar__nav
          li
            a.smooth-scroll(href='#what-is-nmo') What is NMO?
          ul.page-with-sidebar__sub
            li
              a.smooth-scroll(href='#what-is-nmo__diagnosis') Diagnosis
            li
              a.smooth-scroll(href='#') Treatment
          li
            a.smooth-scroll(href='#faqs') FAQs
          li
            a.smooth-scroll(href='#') NMO vs. MS
          ul.page-with-sidebar__sub
            li
              a.smooth-scroll(href='#') Similar Symptoms
            li
              a.smooth-scroll(href='#') Similar Conditions
            li
              a.smooth-scroll(href='#') Download Brochure
          li
            a.smooth-scroll(href='#') Download Fact Sheet
      .page-with-sidebar__content
        .about-nmo__what-is-nmo.page-with-sidebar__section
          #what-is-nmo
          h3.alternate What is NMO?
          p
            | Neuromyelitis optica (NMO) is an uncommon disease syndrome of the central nervous system (CNS) that affects the optic nerves and spinal cord. Individuals with NMO develop optic neuritis, which causes pain in the eye and vision loss, and transverse myelitis, which causes weakness, numbness, and sometimes paralysis of the arms and legs, along with sensory disturbances and loss of bladder and bowel control. NMO leads to loss of myelin, which is a fatty substance that surrounds nerve fibers and helps nerve signals move from cell to cell. The syndrome can also damage nerve fibers and leave areas of broken-down tissue. In the disease process of NMO, for reasons that aren’t yet clear, immune system cells and antibodies attack and destroy myelin cells in the optic nerves and the spinal cord.
          .page-with-sidebar__video.flex-video
            iframe(width='560', height='315', src='https://www.youtube.com/embed/2uwA1CTEp4M', frameborder='0', allowfullscreen='')
        .about-nmo__what-is-nmo.page-with-sidebar__section
          div(id='#what-is-nmo__diagnosis')
          h3.alternate Diagnosis
          p
            | Historically, NMO was diagnosed in patients who experienced a rapid onset of blindness in one or both eyes, followed within days or weeks by varying degrees of paralysis in the arms and legs. In most cases, however, the interval between optic neuritis and transverse myelitis is significantly longer, sometimes as long as several years. After the initial attack, NMO follows an unpredictable course. Most individuals with the syndrome experience clusters of attacks months or years apart, followed by partial recovery during periods of remission. This relapsing form of NMO primarily affects women. The female to male ratio is greater than 4:1. Another form of NMO, in which an individual only has a single, severe attack extending over a month or two, is most likely a distinct disease that affects men and women with equal frequency. The onset of NMO varies from childhood to adulthood, with two peaks, one in childhood and the other in adults in their 40s.
          p
            | In the past, NMO was considered to be a severe variant of multiple sclerosis (MS) because both can cause attacks of optic neuritis and myelitis. Recent discoveries, however, suggest it is a separate disease. NMO is different from MS in the severity of its attacks and its tendency to solely strike the optic nerves and spinal cord at the beginning of the disease. Symptoms outside of the optic nerves and spinal cord are rare, although certain symptoms, including uncontrollable vomiting and hiccups, are now recognized as relatively specific symptoms of NMO that are due to brainstem involvement.
          p
            | The recent discovery of an antibody in the blood of individuals with NMO gives doctors a reliable biomarker to distinguish NMO from MS. The antibody, known as NMO-IgG, seems to be present in about 70 percent of those with NMO and is not found in people with MS or other similar conditions.
          .about-nmo__what-is-nmo__video.flex-video
            iframe(width='560', height='315', src='https://www.youtube.com/embed/cMDCGMytlE8', frameborder='0', allowfullscreen='')
