_/views/pages/advocacy-supplies.jade
extends {layout}
block content

  +hero('Advocacy Supplies').hero.advocacy-supplies__hero

  .gj-advocacy-supplies

    .gj-advocacy-supplies__container

      .gj-advocacy-supplies__form

        script(type='text/javascript').
          var servicedomain="www.123contactform.com";
          var frmRef='';
          try { frmRef=window.top.location.href; } catch(err) {};
          var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
          frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1777243.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));

_/html/advocacy-supplies.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero advocacy-supplies__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Advocacy Supplies</h1>
              </div>
            </div>
          </div>
      <div class="gj-advocacy-supplies">
        <div class="gj-advocacy-supplies__container">
          <div class="gj-advocacy-supplies__form">
            <script type="text/javascript">
              var servicedomain="www.123contactform.com";
              var frmRef='';
              try { frmRef=window.top.location.href; } catch(err) {};
              var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1777243.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
            </script>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>
