_/views/pages/annual-reports.jade
extends {layout}
block content
  
  .annual-reports

    .annual-reports__row

      .annual-reports__title
        h3.alternate Annual Reports

      .annual-reports__single

        .annual-reports__single__row

          .annual-reports__single__column

            .annual-reports__img
              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")

            .annual-reports__year
              | 2011 Annual Report

            .annual-reports__download
              a(href="") Download
                .annual-reports__download__arrow
                  svg-include(link="#guthy-jackson-icon-arrow-down-gray")

      .annual-reports__single

        .annual-reports__single__row

          .annual-reports__single__column

            .annual-reports__img
              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")

            .annual-reports__year
              | 2012 Annual Report

            .annual-reports__download
              a(href="") Download
                .annual-reports__download__arrow
                  svg-include(link="#guthy-jackson-icon-arrow-down-gray")

      .annual-reports__single

        .annual-reports__single__row

          .annual-reports__single__column

            .annual-reports__img
              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")

            .annual-reports__year
              | 2013 Annual Report

            .annual-reports__download
              a(href="") Download
                .annual-reports__download__arrow
                  svg-include(link="#guthy-jackson-icon-arrow-down-gray")

_/html/annual-reports.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
      <div class="annual-reports">
        <div class="annual-reports__row">
          <div class="annual-reports__title">
            <h3 class="alternate">Annual Reports</h3>
          </div>
          <div class="annual-reports__single">
            <div class="annual-reports__single__row">
              <div class="annual-reports__single__column">
                <div class="annual-reports__img"><img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg"></div>
                <div class="annual-reports__year">2011 Annual Report</div>
                <div class="annual-reports__download"><a href="">Download
                    <div class="annual-reports__download__arrow">
                      <svg-include link="#guthy-jackson-icon-arrow-down-gray"></svg-include>
                    </div></a></div>
              </div>
            </div>
          </div>
          <div class="annual-reports__single">
            <div class="annual-reports__single__row">
              <div class="annual-reports__single__column">
                <div class="annual-reports__img"><img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg"></div>
                <div class="annual-reports__year">2012 Annual Report</div>
                <div class="annual-reports__download"><a href="">Download
                    <div class="annual-reports__download__arrow">
                      <svg-include link="#guthy-jackson-icon-arrow-down-gray"></svg-include>
                    </div></a></div>
              </div>
            </div>
          </div>
          <div class="annual-reports__single">
            <div class="annual-reports__single__row">
              <div class="annual-reports__single__column">
                <div class="annual-reports__img"><img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg"></div>
                <div class="annual-reports__year">2013 Annual Report</div>
                <div class="annual-reports__download"><a href="">Download
                    <div class="annual-reports__download__arrow">
                      <svg-include link="#guthy-jackson-icon-arrow-down-gray"></svg-include>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>
