_/html/blood-bank.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero blood-bank__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Blood Bank</h1>
              </div>
            </div>
          </div>
      <div id="page-with-sidebar" class="page-with-sidebar sticky-sidebar">
        <div class="page-with-sidebar__wrapper ui rails">
          <div class="page-with-sidebar__sidebar ui sticky">
            <h4>Blood Bank</h4>
            <ul class="page-with-sidebar__nav scroll-to-active">
              <li><a href="#biosamples">Biosamples</a></li>
              <li><a href="#icc-and-br">ICC and BR</a></li>
              <li><a href="#family-members">Family Members</a></li>
              <li><a href="#what-happens-to-your-sample">What Happens to Your Sample</a></li>
              <li><a href="#how-to-donate">How to Donate</a></li>
              <li><a href="/draw-sites">Schedule an Appointment Now</a></li>
            </ul>
          </div>
          <div class="page-with-sidebar__content">
            <div class="occ">
              <div id="biosamples" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal">Biosamples and Clinical Data</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__biosamples page-with-sidebar__section">
                  <h3 class="alternate">Biosamples and Clinical Data</h3>
                  <p class="page-with-sidebar__copy">If you or someone you know has been diagnosed with NMO, please help us with blood samples and/or clinical data donations to our Biorepository. Blood samples and clinical data are vital for NMO research. Many developments in NMO treatment come from doctors and researchers analyzing blood samples and data.</p>
                  <p class="page-with-sidebar__copy last">Only a limited amount of NMO samples are available worldwide, making accessibility to NMO biosamples by our research scientists an urgent need. You can help us meet this critical need by donating your samples and clinical data, thereby raising awareness of our repository program.</p>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="icc-and-br" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal">The ICC and Biorepository</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__icc-and-br page-with-sidebar__section">
                  <h3 class="alternate">The ICC and Biorepository</h3>
                  <p class="last page-with-sidebar__copy">The GJCF International Clinical Consortium (ICC) connects the Biorepository (BR) to scientific, clinical, industry and agencies’ expertise. Members of the ICC&amp;BR have access to these resources to solve NMO through innovative prevention, diagnostic, therapeutic and educational strategies that benefit patients worldwide.</p>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="family-members" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal">We Need Your Family Members' Blood Samples</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__family-members page-with-sidebar__section">
                  <h3 class="alternate">We Need Your Family Members' Blood Samples</h3>
                  <p class="last page-with-sidebar__copy">Blood relatives of NMO repository participants may enroll as "control" subjects. Samples from your immediate family could yield important information about genetic and environmental factors related to NMO. Contact us for details about this important aspect of our repository.</p>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="what-happens-to-your-sample" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal">What Happens to Your Sample?</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__what-happens-to-your-sample page-with-sidebar__section">
                  <h3 class="alternate">What Happens to Your Sample?</h3>
                  <p class="page-with-sidebar__copy">Your samples will be stored at the GJCF Biorepository. This is like a library where your samples will be kept with some de-identified details of your environment and medical history. A computer stores this information, so that authorized researchers can find the samples they need.</p>
                  <p class="last page-with-sidebar__copy">These samples are used to find out how NMO relapses develop in order to try and prevent them, develop and test ne drugs, find new ways, to diagnose NMO, try to work out which treatments work for particular groups of patients, find new ways to treat NMO, and find better ways of controlling side effects and symptoms.</p>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="how-to-donate" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal">How to Donate</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__how-to-donate page-with-sidebar__section">
                  <h3 class="alternate">How to Donate</h3>
                  <p class="page-with-sidebar__copy">Donating is easier and faster than you think. Contact the nearest CIRCLES center for information about the LabCorp donation site nearest you.</p>
                  <p class="last page-with-sidebar__copy">If you have already donated, then please do so again frequently! Longitudinal draws along with your information are a critical part of creating solutions for NMO. Scientists need to examine multiple samples of your blood over periods of time to study the changes in each sample. Longitudinal draws are just as important as your first sample donation.</p><a href="/draw-sites" class="page-with-sidebar__btn--green">Schedule an Appointment Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>

_/views/pages/blood-bank.jade
extends {layout}
block content

  +hero('Blood Bank').hero.blood-bank__hero

  #page-with-sidebar.page-with-sidebar.sticky-sidebar
    .page-with-sidebar__wrapper.ui.rails
      .page-with-sidebar__sidebar.ui.sticky
        h4 Blood Bank
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href='#biosamples') Biosamples
          li
            a(href='#icc-and-br') ICC and BR
          li
            a(href='#family-members') Family Members
          li
            a(href='#what-happens-to-your-sample') What Happens to Your Sample
          li
            a(href='#how-to-donate') How to Donate
          li
            a(href='/draw-sites') Schedule an Appointment Now
      .page-with-sidebar__content
        .occ
          #biosamples.page-with-sidebar__scroll
          .occ__reveal Biosamples and Clinical Data
          .occ__hidden
            .occ__back Back
            .blood-bank__biosamples.page-with-sidebar__section
              h3.alternate Biosamples and Clinical Data
              p.page-with-sidebar__copy If you or someone you know has been diagnosed with NMO, please help us with blood samples and/or clinical data donations to our Biorepository. Blood samples and clinical data are vital for NMO research. Many developments in NMO treatment come from doctors and researchers analyzing blood samples and data.
              p.page-with-sidebar__copy.last Only a limited amount of NMO samples are available worldwide, making accessibility to NMO biosamples by our research scientists an urgent need. You can help us meet this critical need by donating your samples and clinical data, thereby raising awareness of our repository program.
        .occ
          #icc-and-br.page-with-sidebar__scroll
          .occ__reveal The ICC and Biorepository
          .occ__hidden
            .occ__back Back
            .blood-bank__icc-and-br.page-with-sidebar__section
              h3.alternate The ICC and Biorepository
              p.last.page-with-sidebar__copy The GJCF International Clinical Consortium (ICC) connects the Biorepository (BR) to scientific, clinical, industry and agencies’ expertise. Members of the ICC&amp;BR have access to these resources to solve NMO through innovative prevention, diagnostic, therapeutic and educational strategies that benefit patients worldwide.
        .occ
          #family-members.page-with-sidebar__scroll
          .occ__reveal We Need Your Family Members' Blood Samples
          .occ__hidden
            .occ__back Back
            .blood-bank__family-members.page-with-sidebar__section
              h3.alternate We Need Your Family Members' Blood Samples
              p.last.page-with-sidebar__copy Blood relatives of NMO repository participants may enroll as "control" subjects. Samples from your immediate family could yield important information about genetic and environmental factors related to NMO. Contact us for details about this important aspect of our repository.
        .occ
          #what-happens-to-your-sample.page-with-sidebar__scroll
          .occ__reveal What Happens to Your Sample?
          .occ__hidden
            .occ__back Back
            .blood-bank__what-happens-to-your-sample.page-with-sidebar__section
              h3.alternate What Happens to Your Sample?
              p.page-with-sidebar__copy Your samples will be stored at the GJCF Biorepository. This is like a library where your samples will be kept with some de-identified details of your environment and medical history. A computer stores this information, so that authorized researchers can find the samples they need.
              p.last.page-with-sidebar__copy These samples are used to find out how NMO relapses develop in order to try and prevent them, develop and test ne drugs, find new ways, to diagnose NMO, try to work out which treatments work for particular groups of patients, find new ways to treat NMO, and find better ways of controlling side effects and symptoms.
        .occ
          #how-to-donate.page-with-sidebar__scroll
          .occ__reveal How to Donate
          .occ__hidden
            .occ__back Back
            .blood-bank__how-to-donate.page-with-sidebar__section
              h3.alternate How to Donate
              p.page-with-sidebar__copy Donating is easier and faster than you think. Contact the nearest CIRCLES center for information about the LabCorp donation site nearest you.
              p.last.page-with-sidebar__copy If you have already donated, then please do so again frequently! Longitudinal draws along with your information are a critical part of creating solutions for NMO. Scientists need to examine multiple samples of your blood over periods of time to study the changes in each sample. Longitudinal draws are just as important as your first sample donation.
              a.page-with-sidebar__btn--green(href='/draw-sites') Schedule an Appointment Now
