_/views/pages/coming-soon.jade
.coming-soon
  .coming-soon__heading Coming Soon!
  //- .coming-soon__message You donation has been received
  .coming-soon__info The content for this page isn't quite ready yet. <span>Please check back with us soon.</span>
  .coming-soon__home-link
    a.page-with-sidebar__btn--transparent(href="/") Back to Home

_/html/coming-soon.html

<div class="coming-soon">
  <div class="coming-soon__heading">Coming Soon!</div>
  <div class="coming-soon__info">The content for this page isn't quite ready yet. <span>Please check back with us soon.</span></div>
  <div class="coming-soon__home-link"><a href="/" class="page-with-sidebar__btn--transparent">Back to Home</a></div>
</div>
