_/html/contact.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero contact__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Contact</h1>
              </div>
            </div>
          </div>
      <div class="gj-contact">
        <div class="gj-contact__container">
          <div class="gj-contact__forms">
            <div class="gj-contact__form">
              <div class="gj-contact__form-toggle form-toggle">
                <div class="gj-contact__form-title">General</div>
                <div class="gj-contact__form-description">Do you have some questions you want answered? Well, you have come to the right place. Send a message with what it is you want to talk about!</div>
              </div>
              <div class="gj-contact__form-container gj-contact__general-form">
                <script type="text/javascript">
                  var servicedomain="www.123contactform.com"; var frmRef='';
                  try { frmRef=window.top.location.href; }
                  catch(err) {};
                  var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
                  document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
                  frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1751575.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
                  
                </script>
              </div>
            </div>
            <div class="gj-contact__form">
              <div class="gj-contact__form-toggle form-toggle">
                <div class="gj-contact__form-title">Events</div>
                <div class="gj-contact__form-description">Are you planning an event to raise awareness and/or donations for NMO research? Maybe you just have questions about other events or walks. Heck, even if you need ideas or awareness materials - we're here for you. Shoot us a message!</div>
              </div>
              <div class="gj-contact__form-container gj-contact__events-form">
                <script type="text/javascript">
                  var servicedomain="www.123contactform.com"; var frmRef='';
                  try { frmRef=window.top.location.href; }
                  catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
                  document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
                  frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1751627.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>

_/views/pages/contact.jade
extends {layout}
block content

  +hero('Contact').hero.contact__hero

  .gj-contact

    .gj-contact__container

      .gj-contact__forms

        .gj-contact__form

          .gj-contact__form-toggle.form-toggle

              .gj-contact__form-title General

              .gj-contact__form-description Do you have some questions you want answered? Well, you have come to the right place. Send a message with what it is you want to talk about!

          .gj-contact__form-container.gj-contact__general-form

            script(type='text/javascript').
              var servicedomain="www.123contactform.com"; var frmRef='';
              try { frmRef=window.top.location.href; }
              catch(err) {};
              var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1751575.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));

        .gj-contact__form

          .gj-contact__form-toggle.form-toggle

              .gj-contact__form-title Events

              .gj-contact__form-description Are you planning an event to raise awareness and/or donations for NMO research? Maybe you just have questions about other events or walks. Heck, even if you need ideas or awareness materials - we're here for you. Shoot us a message!

          .gj-contact__form-container.gj-contact__events-form


            script(type='text/javascript').
              var servicedomain="www.123contactform.com"; var frmRef='';
              try { frmRef=window.top.location.href; }
              catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1751627.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
