_/views/pages/page-with-sidebar-sample.jade
extends {layout}
block content

  +hero('Support Groups').hero.support-groups__hero

  .page-with-sidebar.sticky-sidebar.ui.rails#page-with-sidegar
    .page-with-sidebar__wrapper
      .page-with-sidebar__sidebar.ui.sticky
        h4 Support Groups
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href="")
          li
            a(href="")
          li
            a(href="")

      .page-with-sidebar__content
        .occ
          .page-with-sidebar__scroll#scroll-id
          .occ__reveal
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-width-sidebar__section
              h3.alternate Section Title
              .page-with-sidebar__copy

_/html/page-with-sidebar-sample.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero support-groups__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Support Groups</h1>
              </div>
            </div>
          </div>
      <div id="page-with-sidegar" class="page-with-sidebar sticky-sidebar ui rails">
        <div class="page-with-sidebar__wrapper">
          <div class="page-with-sidebar__sidebar ui sticky">
            <h4>Support Groups</h4>
            <ul class="page-with-sidebar__nav scroll-to-active">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </div>
          <div class="page-with-sidebar__content">
            <div class="occ">
              <div id="scroll-id" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal"></div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="about-nmo__what-is-nmo page-width-sidebar__section">
                  <h3 class="alternate">Section Title</h3>
                  <div class="page-with-sidebar__copy"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>
