_/views/pages/share-your-story.jade
extends {layout}
block content

  +hero('Share Your Story').hero.share-your-story__hero

  .nav__sub-nav
    .nav
      ul
        li
          a(href="") Public Discussion
        li.active
          a(href="") Stories
        li
          a(href="") Share Your Story
      </ul>

  .gj-share-story

    .gj-share-story__container

      .gj-share-story__copy Do you want to share your story of how NMO has affected you and your loved ones? Then you have come to the right place! Not only can you share your own experiences, but you can even inspire other NMO advocates in the process. Neither your email nor your name will be published with your story.

      .gj-share-story__copy <em><span class="asterisk">*</span>All stories will be reviewed before being published</em>.

      .gj-share-story__title Share Your Story

      .gj-share-story__form

        script(type='text/javascript').
          var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {};
          var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
          frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1774832.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));

_/html/share-your-story.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero share-your-story__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Share Your Story</h1>
              </div>
            </div>
          </div>
      <div class="nav__sub-nav">
        <div class="nav">
          <ul>
            <li><a href="">Public Discussion</a></li>
            <li class="active"><a href="">Stories</a></li>
            <li><a href="">Share Your Story</a></li>
          </ul></ul>
        </div>
      </div>
      <div class="gj-share-story">
        <div class="gj-share-story__container">
          <div class="gj-share-story__copy">Do you want to share your story of how NMO has affected you and your loved ones? Then you have come to the right place! Not only can you share your own experiences, but you can even inspire other NMO advocates in the process. Neither your email nor your name will be published with your story.</div>
          <div class="gj-share-story__copy"><em><span class="asterisk">*</span>All stories will be reviewed before being published</em>.</div>
          <div class="gj-share-story__title">Share Your Story</div>
          <div class="gj-share-story__form">
            <script type="text/javascript">
              var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {};
              var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1774832.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
            </script>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>
