_/views/pages/shop.jade
extends {layout}
block content

  +hero('Shop').hero.shop__hero

  .gj-shop
    .gj-shop__container
      .gj-shop__banner
        img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/NMO-Shop-Banner.png")
      .gj-shop__iframe
        iframe(src="http://www.promoplace.com/ws/ws.dll/CoStore?UID=8038&CoStoreID=5275&Main=1&FirstPage=1&Start=1" width="767" height="1600" frameborder="0")

_/html/shop.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero shop__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Shop</h1>
              </div>
            </div>
          </div>
      <div class="gj-shop">
        <div class="gj-shop__container">
          <div class="gj-shop__banner"><img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/NMO-Shop-Banner.png"></div>
          <div class="gj-shop__iframe">
            <iframe src="http://www.promoplace.com/ws/ws.dll/CoStore?UID=8038&amp;CoStoreID=5275&amp;Main=1&amp;FirstPage=1&amp;Start=1" width="767" height="1600" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>
