_/views/pages/terms.jade
extends {layout}
block content

  //- +hero('Blood Bank').hero.blood-bank__hero

  #page-with-sidebar.page-with-sidebar.sticky-sidebar.gj-terms
    .page-with-sidebar__wrapper.ui.rails
      .page-with-sidebar__sidebar.ui.sticky
        h4 Terms &amp; Disclaimers
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href='#terms-privacy') Terms &amp; Privacy
          li
            a(href='#disclaimers') Disclaimers
          li
            a(href='#images') Images
          li
            a(href='#link') Links
          li
            a(href='#changes-to-terms') Changes to Terms
        //- {% include "sidebar-widget" %}
      .page-with-sidebar__content
        .occ
          #terms-privacy.page-with-sidebar__scroll
          .occ__reveal.gj-terms__title Terms and Privacy
          .occ__hidden
            .occ__back Back
            .blood-bank__biosamples.page-with-sidebar__section
              h3.alternate Terms and Privacy
              .gj-terms__copy-section Thank you for visiting the web site of The Guthy-Jackson Charitable Foundation. The mission of the Foundation is to end the devastating effects of Neuromyelitis Optica (NMO). Support for this site is from the operating budget of the Foundation.

              .gj-terms__copy-section 
                .gj-terms__address-block 
                  .gj-terms__address-title Our postal address is:
                  .gj-terms__address-line.name The Guthy-Jackson Charitable Foundation
                  .gj-terms__address-line 10525 Vista Sorrento Pkwy, #210
                  .gj-terms__address-line San Diego, CA 92121
                
                .gj-terms__contact-info 
                  span.contact-label Email:
                  span.email 
                    a(href="mailto:info@guthyjacksonfoundation.org") info@guthyjacksonfoundation.org
                
                .gj-terms__contact-info 
                  span.contact-label Phone: 
                  span.phone 858.638.7638
        .occ
          #disclaimers.page-with-sidebar__scroll
          .occ__reveal.gj-terms__title Disclaimers
          .occ__hidden
            .occ__back Back
            .blood-bank__icc-and-br.page-with-sidebar__section
              h3.alternate Disclaimers
              .gj-terms__copy-section The Guthy-Jackson Charitable Foundation is proud to be a source of information about NMO. Our comments are based on professional advice, published experience and expert opinion, but do not represent therapeutic recommendation, dietary recommendation or prescription. For specific information and advice, consult your personal physician.

              .gj-terms__copy-section Any reference to a commercial or noncommercial product, process, service or company is not an endorsement or recommendation by the The Guthy-Jackson Charitable Foundation.

              .gj-terms__copy-section The Guthy-Jackson Charitable Foundation does not endorse or recommend products, services or manufacturers. The The Guthy-Jackson Charitable Foundation assumes no liability whatsoever for the use or contents of any product or service mentioned.

              .gj-terms__copy-section The Guthy-Jackson Charitable Foundation is not responsible for the contents of any &ldquo;off-site&rdquo; Internet information referenced by or linked to the The Guthy-Jackson Charitable Foundation&rsquo;s Internet site.

              .gj-terms__copy-section This website is for informational and entertainment purposes only and is not a substitute for medical advice, diagnosis or treatment.
        .occ
          #images.page-with-sidebar__scroll
          .occ__reveal.gj-terms__title Images
          .occ__hidden
            .occ__back Back
            .blood-bank__icc-and-br.page-with-sidebar__section
              h3.alternate Images
              .gj-terms__copy-section Use of all photo images and graphics on our website is strictly limited to The Guthy-Jackson Charitable Foundation&rsquo;s use only. Downloading, printing, reprinting all photo images and/or graphics contained in this website is not permitted.
        .occ
          #link.page-with-sidebar__scroll
          .occ__reveal.gj-terms__title Links
          .occ__hidden
            .occ__back Back
            .blood-bank__icc-and-br.page-with-sidebar__section
              h3.alternate Links
              .gj-terms__copy-section We may link to websites, including those of our subsidiaries and third-party content providers, that have different privacy policies and practices from those disclosed here. We assume no responsibility for the policies or practices of such linked sites, and encourage you to become acquainted with them prior to use.
        .occ
          #changes-to-terms.page-with-sidebar__scroll
          .occ__reveal.gj-terms__title Changes to Terms
          .occ__hidden
            .occ__back Back
            .blood-bank__icc-and-br.page-with-sidebar__section
              h3.alternate Changes to Terms
              .gj-terms__copy-section We reserve the right to change the terms of this privacy policy at any time.

_/html/terms.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
      <div id="page-with-sidebar" class="page-with-sidebar sticky-sidebar gj-terms">
        <div class="page-with-sidebar__wrapper ui rails">
          <div class="page-with-sidebar__sidebar ui sticky">
            <h4>Terms &amp; Disclaimers</h4>
            <ul class="page-with-sidebar__nav scroll-to-active">
              <li><a href="#terms-privacy">Terms &amp; Privacy</a></li>
              <li><a href="#disclaimers">Disclaimers</a></li>
              <li><a href="#images">Images</a></li>
              <li><a href="#link">Links</a></li>
              <li><a href="#changes-to-terms">Changes to Terms</a></li>
            </ul>
          </div>
          <div class="page-with-sidebar__content">
            <div class="occ">
              <div id="terms-privacy" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal gj-terms__title">Terms and Privacy</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__biosamples page-with-sidebar__section">
                  <h3 class="alternate">Terms and Privacy</h3>
                  <div class="gj-terms__copy-section">Thank you for visiting the web site of The Guthy-Jackson Charitable Foundation. The mission of the Foundation is to end the devastating effects of Neuromyelitis Optica (NMO). Support for this site is from the operating budget of the Foundation.</div>
                  <div class="gj-terms__copy-section"> 
                    <div class="gj-terms__address-block"> 
                      <div class="gj-terms__address-title">Our postal address is:</div>
                      <div class="gj-terms__address-line name">The Guthy-Jackson Charitable Foundation</div>
                      <div class="gj-terms__address-line">10525 Vista Sorrento Pkwy, #210</div>
                      <div class="gj-terms__address-line">San Diego, CA 92121</div>
                    </div>
                    <div class="gj-terms__contact-info"> <span class="contact-label">Email:</span><span class="email"> <a href="mailto:info@guthyjacksonfoundation.org">info@guthyjacksonfoundation.org</a></span></div>
                    <div class="gj-terms__contact-info"> <span class="contact-label">Phone: </span><span class="phone">858.638.7638</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="disclaimers" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal gj-terms__title">Disclaimers</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__icc-and-br page-with-sidebar__section">
                  <h3 class="alternate">Disclaimers</h3>
                  <div class="gj-terms__copy-section">The Guthy-Jackson Charitable Foundation is proud to be a source of information about NMO. Our comments are based on professional advice, published experience and expert opinion, but do not represent therapeutic recommendation, dietary recommendation or prescription. For specific information and advice, consult your personal physician.</div>
                  <div class="gj-terms__copy-section">Any reference to a commercial or noncommercial product, process, service or company is not an endorsement or recommendation by the The Guthy-Jackson Charitable Foundation.</div>
                  <div class="gj-terms__copy-section">The Guthy-Jackson Charitable Foundation does not endorse or recommend products, services or manufacturers. The The Guthy-Jackson Charitable Foundation assumes no liability whatsoever for the use or contents of any product or service mentioned.</div>
                  <div class="gj-terms__copy-section">The Guthy-Jackson Charitable Foundation is not responsible for the contents of any &ldquo;off-site&rdquo; Internet information referenced by or linked to the The Guthy-Jackson Charitable Foundation&rsquo;s Internet site.</div>
                  <div class="gj-terms__copy-section">This website is for informational and entertainment purposes only and is not a substitute for medical advice, diagnosis or treatment.</div>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="images" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal gj-terms__title">Images</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__icc-and-br page-with-sidebar__section">
                  <h3 class="alternate">Images</h3>
                  <div class="gj-terms__copy-section">Use of all photo images and graphics on our website is strictly limited to The Guthy-Jackson Charitable Foundation&rsquo;s use only. Downloading, printing, reprinting all photo images and/or graphics contained in this website is not permitted.</div>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="link" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal gj-terms__title">Links</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__icc-and-br page-with-sidebar__section">
                  <h3 class="alternate">Links</h3>
                  <div class="gj-terms__copy-section">We may link to websites, including those of our subsidiaries and third-party content providers, that have different privacy policies and practices from those disclosed here. We assume no responsibility for the policies or practices of such linked sites, and encourage you to become acquainted with them prior to use.</div>
                </div>
              </div>
            </div>
            <div class="occ">
              <div id="changes-to-terms" class="page-with-sidebar__scroll"></div>
              <div class="occ__reveal gj-terms__title">Changes to Terms</div>
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="blood-bank__icc-and-br page-with-sidebar__section">
                  <h3 class="alternate">Changes to Terms</h3>
                  <div class="gj-terms__copy-section">We reserve the right to change the terms of this privacy policy at any time.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>
