_/html/videos/videos-patient-day-2012.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero videos__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Videos</h1>
              </div>
            </div>
          </div>
      <div class="nav__sub-nav videos-sub-nav">
        <div class="nav">
          <ul>
            <li><a href="/videos-featured"> 
                <div class="sub-nav__label">Featured</div></a></li>
            <li><a href="/videos-questions-about-nmo"> 
                <div class="sub-nav__label">Questions About NMO</div></a></li>
            <li><a href="/videos-foundation-interviews"> 
                <div class="sub-nav__label">Foundation Interviews</div></a></li>
            <li><a href="/videos-public-awareness-patient-stories"> 
                <div class="sub-nav__label">Public Awareness &amp; Patient Stories</div></a></li>
            <li class="active"><a>
                <div class="sub-nav__label">Foundation Events</div></a>
              <ul class="nav__sub-nav__sub-nav">             
                <li><a href="/videos-nmo-patient-day-2015">NMO Patient Day 2015</a></li>
                <li><a href="/videos-nmo-patient-day-2013">NMO Patient Day 2013</a></li>
                <li><a href="/videos-nmo-patient-day-2012">NMO Patient Day 2012</a></li>
                <li><a href="/videos-nmo-patient-day-2011">NMO Patient Day 2011</a></li>
                <li><a href="/videos-nmo-patient-day-2010">NMO Patient Day 2010</a></li>
                <li><a href="/videos-nmo-patient-day-2009">NMO Patient Day 2009</a></li>
                <li><a href="/videos-nmo-roundtable-conference-2009">NMO Roundtable Conference 2009</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="gj-videos">
        <div class="gj-videos__container">
          <div class="gj-videos__title">NMO Patient Day 2012</div>
          <div class="gj-videos__container-inner">            
            <div class="gj-videos__nav video-nav">
              <div class="gj-videos__nav-category">
                <div class="gj-videos__nav-label category-label">Categories
                  <svg-include link="#guthy-jackson-icon-arrow-down-white"></svg-include>
                </div>
                <ul class="gj-videos__nav-ul category-ul">
                  <li><a href="/videos-featured"> 
                      <div class="sub-nav__label">Featured</div></a></li>
                  <li><a href="/videos-questions-about-nmo"> 
                      <div class="sub-nav__label">Questions About NMO</div></a></li>
                  <li><a href="/videos-foundation-interviews"> 
                      <div class="sub-nav__label">Foundation Interviews</div></a></li>
                  <li><a href="/videos-public-awareness-patient-stories"> 
                      <div class="sub-nav__label">Public Awareness &amp; Patient Stories</div></a></li>
                  <li><a>
                      <div class="sub-nav__label">Foundation Events</div></a>
                    <ul class="nav__sub-nav__sub-nav">             
                      <li><a href="/videos-nmo-patient-day-2015">NMO Patient Day 2015</a></li>
                      <li><a href="/videos-nmo-patient-day-2013">NMO Patient Day 2013</a></li>
                      <li><a href="/videos-nmo-patient-day-2012">NMO Patient Day 2012</a></li>
                      <li><a href="/videos-nmo-patient-day-2011">NMO Patient Day 2011</a></li>
                      <li><a href="/videos-nmo-patient-day-2010">NMO Patient Day 2010</a></li>
                      <li><a href="/videos-nmo-patient-day-2009">NMO Patient Day 2009</a></li>
                      <li><a href="/videos-nmo-roundtable-conference-2009">NMO Roundtable Conference 2009</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="gj-videos__nav-list">
                <div class="gj-videos__nav-label list-label">NMO Patient Day 2012
                  <svg-include link="#guthy-jackson-icon-arrow-down-white"></svg-include>
                </div>
                <ul class="gj-videos__nav-ul list-ul">
                  <li><a href="#video0" class="video-link"> 
                      <div>2012 NMO Patient Day - Opening Remarks</div></a></li>
                  <li><a href="#video1" class="video-link"> 
                      <div>2012 NMO Patient Day - The GJCF Biorepository for NMO</div></a></li>
                  <li><a href="#video2" class="video-link"> 
                      <div>2012 NMO Patient Day - Q&amp;A Scientific Research Panel</div></a></li>
                  <li><a href="#video3" class="video-link"> 
                      <div>2012 NMO Patient Day - Q&amp;A Clinical Panel I (Part 1 of 2)</div></a></li>
                  <li><a href="#video4" class="video-link"> 
                      <div>2012 NMO Patient Day - Q&amp;A Clinical Panel I (Part 2 of 2)</div></a></li>
                  <li><a href="#video5" class="video-link"> 
                      <div>2012 NMO Patient Day - Q&amp;A Clinical Panel II</div></a></li>
                  <li><a href="#video6" class="video-link"> 
                      <div>2012 NMO Patient Day - Simplifying the Science of NMO (Breakout Session)</div></a></li>
                  <li><a href="#video7" class="video-link"> 
                      <div>2012 NMO Patient Day - Managing Stress and Fatigue of NMO (Breakout Session)</div></a></li>
                  <li><a href="#video8" class="video-link"> 
                      <div>2012 NMO Patient Day - Nutrition and Diet (Breakout Session)</div></a></li>
                  <li><a href="#video9" class="video-link"> 
                      <div>2012 NMO Patient Day - Meditation and Yoga (Breakout Session)</div></a></li>
                  <li><a href="#video10" class="video-link"> 
                      <div>2012 NMO Patient Day: Hypnotherapy</div></a></li>
                  <li><a href="#video11" class="video-link"> 
                      <div>2012 NMO Patient Day - Patients' Rights (Breakout Session)</div></a></li>
                  <li><a href="#video12" class="video-link"> 
                      <div>2012 NMO Patient Day - NMO Advocacy Actions</div></a></li>
                  <li><a href="#video13" class="video-link"> 
                      <div>2012 NMO Patient Day - Closing Remarks</div></a></li>
                </ul>
              </div>
            </div>
            <div class="gj-videos__video-container">
              <div id="video0" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/NFIDJOk6ITc" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video1" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/aU8kgqMzkys" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video2" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/R85YdZbTIxs" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video3" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/wCobj3k1s44" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video4" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/M9sV_0Ll944" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video5" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/BpSdmboApS4" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video6" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/2-LBhjdL8IU" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video7" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/X4IkhXSVSQo" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video8" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/dFbv5-CiAcA" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video9" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/4RVgJoF_Cv4" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video10" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/LvUMIuoUzNY" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video11" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/T_iMePHY6Qc" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video12" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/sg_82O13WP0" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video13" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/ba5nG8V8BZU" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>

_/views/pages/videos/videos-patient-day-2012.jade
extends {layout}
block content

  +hero('Videos').hero.videos__hero

  .nav__sub-nav.videos-sub-nav
    .nav
      ul
        li
          a(href="/videos-featured") 
            .sub-nav__label Featured
        li
          a(href="/videos-questions-about-nmo") 
            .sub-nav__label Questions About NMO
        li
          a(href="/videos-foundation-interviews") 
            .sub-nav__label Foundation Interviews
        li
          a(href="/videos-public-awareness-patient-stories") 
            .sub-nav__label Public Awareness &amp; Patient Stories
        li.active
          a
            .sub-nav__label Foundation Events

          ul.nav__sub-nav__sub-nav              
            li
              a(href="/videos-nmo-patient-day-2015") NMO Patient Day 2015
            li
              a(href="/videos-nmo-patient-day-2013") NMO Patient Day 2013
            li
              a(href="/videos-nmo-patient-day-2012") NMO Patient Day 2012
            li
              a(href="/videos-nmo-patient-day-2011") NMO Patient Day 2011
            li
              a(href="/videos-nmo-patient-day-2010") NMO Patient Day 2010
            li
              a(href="/videos-nmo-patient-day-2009") NMO Patient Day 2009
            li
              a(href="/videos-nmo-roundtable-conference-2009") NMO Roundtable Conference 2009

  .gj-videos

    .gj-videos__container

      .gj-videos__title NMO Patient Day 2012

      .gj-videos__container-inner             

        .gj-videos__nav.video-nav

          .gj-videos__nav-category

            .gj-videos__nav-label.category-label Categories
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.category-ul
              li
                a(href="/videos-featured") 
                  .sub-nav__label Featured
              li
                a(href="/videos-questions-about-nmo") 
                  .sub-nav__label Questions About NMO
              li
                a(href="/videos-foundation-interviews") 
                  .sub-nav__label Foundation Interviews
              li
                a(href="/videos-public-awareness-patient-stories") 
                  .sub-nav__label Public Awareness &amp; Patient Stories
              li
                a
                  .sub-nav__label Foundation Events

                ul.nav__sub-nav__sub-nav              
                  li
                    a(href="/videos-nmo-patient-day-2015") NMO Patient Day 2015
                  li
                    a(href="/videos-nmo-patient-day-2013") NMO Patient Day 2013
                  li
                    a(href="/videos-nmo-patient-day-2012") NMO Patient Day 2012
                  li
                    a(href="/videos-nmo-patient-day-2011") NMO Patient Day 2011
                  li
                    a(href="/videos-nmo-patient-day-2010") NMO Patient Day 2010
                  li
                    a(href="/videos-nmo-patient-day-2009") NMO Patient Day 2009
                  li
                    a(href="/videos-nmo-roundtable-conference-2009") NMO Roundtable Conference 2009

          .gj-videos__nav-list

            .gj-videos__nav-label.list-label NMO Patient Day 2012
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.list-ul

              for video, index in videoPatient2012.videos
                li
                  a.video-link(href="#video#{index}") 
                    div #{video.video.title}

        .gj-videos__video-container

          for video, index in videoPatient2012.videos
            div(id="video#{index}" class="gj-videos__video")
              .iframe
                .iframe__container
                  iframe(src="#{video.video.url}" frameborder="0")
