_/views/pages/videos/videos.jade
extends {layout}
block content

  +hero('Videos').hero.videos__hero

  .nav__sub-nav
    .nav
      ul
        li
          a(href="") 
            .sub-nav__label Featured
        li
          a(href="") 
            .sub-nav__label Questions About NMO
        li
          a(href="") 
            .sub-nav__label Foundation Interviews
        li
          a(href="") 
            .sub-nav__label Public Awareness &amp; Patient Stories
        li
          a(href="") 
            .sub-nav__label Patient Day 2015

  .gj-videos

    .gj-videos__container

      .gj-videos__title Featured

      .gj-videos__container-inner             

        .gj-videos__nav.video-nav

          .gj-videos__nav-category

            .gj-videos__nav-label.category-label Categories
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.category-ul
              li
                a(href="") Featured
              li
                a(href="") Questions About NMO
              li
                a(href="") Foundation Interviews
              li
                a(href="") Public Awareness &amp; Patient Stories
              li
                a(href="") Patient Day 2015

          .gj-videos__nav-list

            .gj-videos__nav-label.list-label Featured
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.list-ul

              for video, index in videoFeatured.videos
                li
                  a(href="#video#{index}") 
                    div #{video.video.title}

        .gj-videos__video-container

          for video, index in videoFeatured.videos
            div(id="video#{index}" class="gj-videos__video")
              .iframe
                .iframe__container
                  iframe(src="#{video.video.url}" frameborder="0")

_/html/videos/videos.html
<!DOCTYPE html>
<html lang="eng">
  <head>     
    <title>Guthy Jackson</title>
    <!-- General META-->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Responsive META-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META-->
    <!-- Facebook META-->
    <!-- Twitter META-->
    <!-- Fav Icon-->
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png">
    <!-- Application CSS Files-->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css">
    <!-- Modernizr Always Load After CSS-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js"></script>
    <!-- HTML5 Shim--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Load The Typekit Script-->
    <script type="text/javascript" src="//use.typekit.net/gjg2fsk.js"></script>
    <script>
      try{Typekit.load({ 
        async: true
      });}catch(e){}
      
    </script>
  </head>
  <body class="smooth-scroll occ-group">
    <!-- Mixins-->
    <!-- Inline SVG's-->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden"><span ng-include="'/icons/no-color.svg'"></span></div>
    <main class="container">
          <div class="hero videos__hero">
            <div class="hero__position">
              <div class="hero__center">
                <h1>Videos</h1>
              </div>
            </div>
          </div>
      <div class="nav__sub-nav">
        <div class="nav">
          <ul>
            <li><a href=""> 
                <div class="sub-nav__label">Featured</div></a></li>
            <li><a href=""> 
                <div class="sub-nav__label">Questions About NMO</div></a></li>
            <li><a href=""> 
                <div class="sub-nav__label">Foundation Interviews</div></a></li>
            <li><a href=""> 
                <div class="sub-nav__label">Public Awareness &amp; Patient Stories</div></a></li>
            <li><a href=""> 
                <div class="sub-nav__label">Patient Day 2015</div></a></li>
          </ul>
        </div>
      </div>
      <div class="gj-videos">
        <div class="gj-videos__container">
          <div class="gj-videos__title">Featured</div>
          <div class="gj-videos__container-inner">            
            <div class="gj-videos__nav video-nav">
              <div class="gj-videos__nav-category">
                <div class="gj-videos__nav-label category-label">Categories
                  <svg-include link="#guthy-jackson-icon-arrow-down-white"></svg-include>
                </div>
                <ul class="gj-videos__nav-ul category-ul">
                  <li><a href="">Featured</a></li>
                  <li><a href="">Questions About NMO</a></li>
                  <li><a href="">Foundation Interviews</a></li>
                  <li><a href="">Public Awareness &amp; Patient Stories</a></li>
                  <li><a href="">Patient Day 2015</a></li>
                </ul>
              </div>
              <div class="gj-videos__nav-list">
                <div class="gj-videos__nav-label list-label">Featured
                  <svg-include link="#guthy-jackson-icon-arrow-down-white"></svg-include>
                </div>
                <ul class="gj-videos__nav-ul list-ul">
                  <li><a href="#video0"> 
                      <div>The NMO Story</div></a></li>
                  <li><a href="#video1"> 
                      <div>Ali Guthy and The Guthy-Jackson Charitable Foundation</div></a></li>
                  <li><a href="#video2"> 
                      <div>How Do Clinical Trials Work?</div></a></li>
                  <li><a href="#video3"> 
                      <div>NMOtion</div></a></li>
                  <li><a href="#video4"> 
                      <div>NMO Tolerization</div></a></li>
                  <li><a href="#video5"> 
                      <div>NMO A Path to Progress</div></a></li>
                  <li><a href="#video6"> 
                      <div>Victoria Jackson and Ali Guthy on Ellen</div></a></li>
                  <li><a href="#video7"> 
                      <div>Ali Guthy and Victoria Jackson on Marie</div></a></li>
                  <li><a href="#video8"> 
                      <div>How Do We See in the Dark?</div></a></li>
                  <li><a href="#video9"> 
                      <div>Pioneering a New Scientific Research Model</div></a></li>
                  <li><a href="#video10"> 
                      <div>Living with NMO</div></a></li>
                  <li><a href="#video11"> 
                      <div>From Mascara to Medicine: A Mom on a Mission</div></a></li>
                  <li><a href="#video12"> 
                      <div>Creating a New Dialogue About NMO</div></a></li>
                  <li><a href="#video13"> 
                      <div>Looking Back ...Moving Forward</div></a></li>
                </ul>
              </div>
            </div>
            <div class="gj-videos__video-container">
              <div id="video0" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/jokrVgahoIU?rel=0&amp;enablejsapi=1" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video1" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="https://www.youtube.com/embed/DI2GI9GFY5o?rel=0" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video2" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/8mi5de3jF14" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video3" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/JbpW635uoxY" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video4" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/6afvRawxTzc" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video5" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/5OyyTkTUgeQ" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video6" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/ZQCDzLWBdvM?rel=0" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video7" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/UJLEfMxqKDc" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video8" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/o4hNoih_KEU?rel=0" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video9" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/2uwA1CTEp4M" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video10" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/gTlejHmYqsU" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video11" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/BgSE193plr8" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video12" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/Rfh08092hZc" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
              <div id="video13" class="gj-videos__video">
                <div class="iframe">
                  <div class="iframe__container">
                    <iframe src="http://www.youtube.com/embed/J6-CHE7Y7ps?rel=0" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Application Javascript Files-->
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js"></script>
    <script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js"></script>
    <!-- Google Analytics-->
  </body>
</html>
